<h1>City#index</h1>
<p>Find me in app/views/city/index.html.erb</p>

<%= form_with model: @city do |form| %>
  <%= form.select :province_id, @cities.collect { |p| [p.name_city, p.id] }, { prompt: "Choose a province" } %>
  <%= form.submit "Create City" %>
<% end %>